
  
  
  <style>
    .gps-483620582550668107 .relative{position:relative}.gps-483620582550668107 .mx-auto{margin-left:auto;margin-right:auto}.gps-483620582550668107 .mb-0{margin-bottom:0}.gps-483620582550668107 .flex{display:flex}.gps-483620582550668107 .grid{display:grid}.gps-483620582550668107 .max-w-full{max-width:100%}.gps-483620582550668107 .flex-col{flex-direction:column}.gps-483620582550668107 .gap-y-0{row-gap:0}.gps-483620582550668107 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-483620582550668107 .duration-200{transition-duration:.2s}.gps-483620582550668107 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-483620582550668107 .\[\&_\*\]\:max-w-full *{max-width:100%}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gGop6g2iL4"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-4xl);--pl:15px;--pb:auto;--pr:15px;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F6F6F6;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gGop6g2iL4 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g2RgqqLcYl relative flex flex-col"
    >
      <div style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%" class="gWaX1Bl-9e ">
      
    <div
      class=""
      style=""
    >
      
    <div id="stamped-main-widget"
      data-product-id="{{ product.id }}"
      data-name="{{ product.title | escape }}"
      data-url="{{ shop.url }}{{ product.url }}"
      data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}"
      data-description="{{ product.description | escape }}"
      data-product-sku="{{product.handle}}"
      data-product-type="{{product.type}}"
      data-offset="150"
      data-search=""
      data-linkify="true"
      data-tags-include=""
      data-tags-exclude=""
      data-offset-mobile="150"
      data-take-questions="1"
      data-animation="false">
    </div>
  
    </div>
  
      </div>
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-483620582550668107 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://builder.gempages.net/instant/hyperlink/edit?type=section&section_id=483620582550668107&template_id=483620279721919514)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
