
  
  
      <style>
        @import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:700,400,800|Nunito:400,700&display=swap');
      </style>
    
  <style>
    .gps-483620279940088858 .-translate-y-1\/2,.gps-483620279940088858 .mobile\:-translate-y-1\/2,.gps-483620279940088858 .mobile\:rotate-0,.gps-483620279940088858 .mobile\:rotate-180,.gps-483620279940088858 .mobile\:translate-x-0,.gps-483620279940088858 .mobile\:translate-y-1\/2,.gps-483620279940088858 .rotate-0,.gps-483620279940088858 .rotate-180,.gps-483620279940088858 .tablet\:-translate-y-1\/2,.gps-483620279940088858 .tablet\:rotate-0,.gps-483620279940088858 .tablet\:rotate-180,.gps-483620279940088858 .tablet\:translate-x-0,.gps-483620279940088858 .tablet\:translate-y-1\/2,.gps-483620279940088858 .translate-y-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-483620279940088858 .shadow-md{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-483620279940088858 .pointer-events-none{pointer-events:none}.gps-483620279940088858 .pointer-events-auto{pointer-events:auto}.gps-483620279940088858 .invisible{visibility:hidden}.gps-483620279940088858 .absolute{position:absolute}.gps-483620279940088858 .relative{position:relative}.gps-483620279940088858 .inset-0{inset:0}.gps-483620279940088858 .bottom-1\/2{bottom:50%}.gps-483620279940088858 .left-4{left:16px}.gps-483620279940088858 .right-4{right:16px}.gps-483620279940088858 .top-1\/2{top:50%}.gps-483620279940088858 .z-9{z-index:9}.gps-483620279940088858 .mx-auto{margin-left:auto;margin-right:auto}.gps-483620279940088858 .my-0{margin-bottom:0;margin-top:0}.gps-483620279940088858 .mb-0{margin-bottom:0}.gps-483620279940088858 .mt-2{margin-top:8px}.gps-483620279940088858 .block{display:block}.gps-483620279940088858 .inline-block{display:inline-block}.gps-483620279940088858 .flex{display:flex}.gps-483620279940088858 .inline-flex{display:inline-flex}.gps-483620279940088858 .grid{display:grid}.gps-483620279940088858 .hidden{display:none}.gps-483620279940088858 .aspect-square{aspect-ratio:1/1}.gps-483620279940088858 .h-5{height:20px}.gps-483620279940088858 .h-6{height:24px}.gps-483620279940088858 .h-full{height:100%}.gps-483620279940088858 .w-5{width:20px}.gps-483620279940088858 .w-6{width:24px}.gps-483620279940088858 .w-\[12px\]{width:12px}.gps-483620279940088858 .w-full{width:100%}.gps-483620279940088858 .max-w-full{max-width:100%}.gps-483620279940088858 .shrink-0{flex-shrink:0}.gps-483620279940088858 .-translate-y-1\/2{--tw-translate-y:-50%}.gps-483620279940088858 .-translate-y-1\/2,.gps-483620279940088858 .translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-483620279940088858 .translate-y-1\/2{--tw-translate-y:50%}.gps-483620279940088858 .rotate-0{--tw-rotate:0deg}.gps-483620279940088858 .rotate-0,.gps-483620279940088858 .rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-483620279940088858 .rotate-180{--tw-rotate:180deg}@keyframes spin{to{transform:rotate(1turn)}}.gps-483620279940088858 .animate-spin{animation:spin 1s linear infinite}.gps-483620279940088858 .cursor-pointer{cursor:pointer}.gps-483620279940088858 .flex-row{flex-direction:row}.gps-483620279940088858 .flex-col{flex-direction:column}.gps-483620279940088858 .flex-wrap{flex-wrap:wrap}.gps-483620279940088858 .items-center{align-items:center}.gps-483620279940088858 .justify-center{justify-content:center}.gps-483620279940088858 .gap-2{gap:8px}.gps-483620279940088858 .gap-y-0{row-gap:0}.gps-483620279940088858 .overflow-hidden{overflow:hidden}.gps-483620279940088858 .overflow-clip{overflow:clip}.gps-483620279940088858 .truncate{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.gps-483620279940088858 .rounded-full{border-radius:9999px}.gps-483620279940088858 .rounded-none{border-radius:0}.gps-483620279940088858 .text-center{text-align:center}.gps-483620279940088858 .align-middle{vertical-align:middle}.gps-483620279940088858 .text-g-text-2{color:var(--g-c-text-2)}.gps-483620279940088858 .text-g-text-3{color:var(--g-c-text-3)}.gps-483620279940088858 .text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.gps-483620279940088858 .no-underline{text-decoration-line:none}.gps-483620279940088858 .opacity-25{opacity:.25}.gps-483620279940088858 .opacity-75{opacity:.75}.gps-483620279940088858 .shadow-md{--tw-shadow:0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);--tw-shadow-colored:0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-483620279940088858 .transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-483620279940088858 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-483620279940088858 .duration-200{transition-duration:.2s}.gps-483620279940088858 .duration-300{transition-duration:.3s}.gps-483620279940088858 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-483620279940088858 .disabled\:btn-disabled:disabled{cursor:default}.gps-483620279940088858 .disabled\:pointer-events-none:disabled{pointer-events:none}.gps-483620279940088858 .disabled\:cursor-default:disabled{cursor:default}.gps-483620279940088858 .disabled\:text-gray-300:disabled{--tw-text-opacity:1;color:rgb(209 213 219/var(--tw-text-opacity))}.gps-483620279940088858 .disabled\:opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-483620279940088858 .group\/image:hover .group-hover\/image\:bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-483620279940088858 .group\/image:hover .group-hover\/image\:opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}.gps-483620279940088858 .data-\[hidden\=true\]\:\!hidden[data-hidden=true]{display:none!important}.gps-483620279940088858 .group[data-state=loading] .group-data-\[state\=loading\]\:visible{visibility:visible}.gps-483620279940088858 .group[data-state=loading] .group-data-\[state\=loading\]\:invisible{visibility:hidden}@media (max-width:1023px){.gps-483620279940088858 .tablet\:bottom-1\/2{bottom:50%}.gps-483620279940088858 .tablet\:left-4{left:16px}.gps-483620279940088858 .tablet\:right-4{right:16px}.gps-483620279940088858 .tablet\:top-1\/2{top:50%}.gps-483620279940088858 .tablet\:mt-2{margin-top:8px}.gps-483620279940088858 .tablet\:block{display:block}.gps-483620279940088858 .tablet\:\!inline{display:inline!important}.gps-483620279940088858 .tablet\:\!flex{display:flex!important}.gps-483620279940088858 .tablet\:w-full{width:100%}.gps-483620279940088858 .tablet\:-translate-y-1\/2{--tw-translate-y:-50%}.gps-483620279940088858 .tablet\:-translate-y-1\/2,.gps-483620279940088858 .tablet\:translate-x-0{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-483620279940088858 .tablet\:translate-x-0{--tw-translate-x:0px}.gps-483620279940088858 .tablet\:translate-y-1\/2{--tw-translate-y:50%}.gps-483620279940088858 .tablet\:rotate-0,.gps-483620279940088858 .tablet\:translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-483620279940088858 .tablet\:rotate-0{--tw-rotate:0deg}.gps-483620279940088858 .tablet\:rotate-180{--tw-rotate:180deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-483620279940088858 .tablet\:flex-row{flex-direction:row}.gps-483620279940088858 .tablet\:px-0{padding-left:0;padding-right:0}.gps-483620279940088858 .tablet\:pl-1{padding-left:4px}}@media (max-width:767px){.gps-483620279940088858 .mobile\:bottom-1\/2{bottom:50%}.gps-483620279940088858 .mobile\:left-4{left:16px}.gps-483620279940088858 .mobile\:right-4{right:16px}.gps-483620279940088858 .mobile\:top-1\/2{top:50%}.gps-483620279940088858 .mobile\:mt-2{margin-top:8px}.gps-483620279940088858 .mobile\:block{display:block}.gps-483620279940088858 .mobile\:\!inline{display:inline!important}.gps-483620279940088858 .mobile\:\!flex{display:flex!important}.gps-483620279940088858 .mobile\:w-full{width:100%}.gps-483620279940088858 .mobile\:-translate-y-1\/2{--tw-translate-y:-50%}.gps-483620279940088858 .mobile\:-translate-y-1\/2,.gps-483620279940088858 .mobile\:translate-x-0{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-483620279940088858 .mobile\:translate-x-0{--tw-translate-x:0px}.gps-483620279940088858 .mobile\:translate-y-1\/2{--tw-translate-y:50%}.gps-483620279940088858 .mobile\:rotate-0,.gps-483620279940088858 .mobile\:translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-483620279940088858 .mobile\:rotate-0{--tw-rotate:0deg}.gps-483620279940088858 .mobile\:rotate-180{--tw-rotate:180deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-483620279940088858 .mobile\:flex-row{flex-direction:row}.gps-483620279940088858 .mobile\:px-0{padding-left:0;padding-right:0}.gps-483620279940088858 .mobile\:pl-1{padding-left:4px}}.gps-483620279940088858 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-483620279940088858 .\[\&_p\]\:inline p{display:inline}.gps-483620279940088858 .\[\&_p\]\:truncate p{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.gps-483620279940088858 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-483620279940088858 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gQ1XhGPNhr"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:none;--op:100%;--radius:var(--g-radius-none);--mt:0px;--pt:64px;--pb:var(--g-s-3xl);--pt-mobile:56px;--pb-mobile:56px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFAF1;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gQ1XhGPNhr mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gR-djUg8_Q relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="ge25Qgv80r"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:37px;--pl:15px;--pr:15px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="ge25Qgv80r mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gzxn4cf0ub relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g09GSt12sL"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb-mobile:0px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g09GSt12sL mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start;--o-mobile:1;--d-mobile:none"
      class="g4n_GSjIK- relative flex flex-col"
    >
      
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start;--o-mobile:0"
      class="gxLRnoZ6jg relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)" class="ggs6Y65aHr ">
      
    <div
      parentTag="Col"
        class="ggs6Y65aHr  overflow-clip"
        style="--tt:default;--ta:left;--ta-mobile:center"
      >
      <div class="flex" style="--jc:left;--jc-mobile:center">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] text-g-text-2 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:center;--c:#484848;--fs:normal;--ff:var(--g-font-Alegreya-Sans, Alegreya Sans);--weight:700;--ls:normal;--lh:130%;--size:40px;--size-tablet:40px;--size-mobile:28px;word-break:break-word"
        >
        <p><span style="background-color:rgba(247,247,248,0);color:rgb(55,65,81);font-size:28px;">Zeg vaarwel tegen milieuonvriendelijke en huidirriterende Wasoplossingen.</span></p>
        </h2>
      </div>
    </div>
      </div>
    <div
      parentTag="Col"
        class="gjZCBK4eTz  overflow-clip"
        style="--tt:default;--ta:center;--ta-mobile:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-2xl);--pl:0px;--pr:30px;--mb-mobile:var(--g-s-2xl);--pl-mobile:0px;--pr-mobile:0px"
      >
      <div class="flex" style="--jc:center;--jc-mobile:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#74846F;--fs:normal;--ff:var(--g-font-Alegreya-Sans, Alegreya Sans);--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word"
        >
        <p><span style="background-color:rgba(247,247,248,0);color:rgb(55,65,81);font-size:18px;">We snappen het. Je bent het beu dat je kleren muf ruiken. De huidirritaties door harde chemicaliën. De extra kosten op je waterrekening vanwege extra spoelbeurten.&nbsp;</span></p><p>&nbsp;</p><p><span style="background-color:rgba(247,247,248,0);color:rgb(55,65,81);font-size:18px;">Het is een dagelijkse strijd.</span></p>
        </div>
      </div>
    </div><div
    
    role="presentation"
    class="group/image g9QO-KrISd"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb-mobile:19px;--ta:left"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle pointer-events-none"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;border-radius:inherit"
    >
      <div
        class="pointer-events-auto"
        
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="inline-block w-full max-w-full flex gp_lazyload"
    data-src="{{ "480432459918345013-b99f4546-beec-41d9-9f8c-1d00a3638d08.png" | asset_url }}" data-srcset="{{ '480432459918345013-b99f4546-beec-41d9-9f8c-1d00a3638d08.png' | asset_img_url: '768x768' }} 768w, {{ '480432459918345013-b99f4546-beec-41d9-9f8c-1d00a3638d08.png' | asset_img_url: '1024x1024' }} 1024w, {{ '480432459918345013-b99f4546-beec-41d9-9f8c-1d00a3638d08.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="1245" height="889" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:1245/889;--objf:fill;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </div>
    </figure>
  </div>
      
      
    <div
      parentTag="Col" id="goq2nrHLNB"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-xl);--cg:var(--g-s-xl);--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="goq2nrHLNB mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gksWdb2T-- relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gBRHwSvM54"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle pointer-events-none"
      style="--w:30px;--w-tablet:30px;--w-mobile:30px;border-radius:inherit"
    >
      <div
        class="pointer-events-auto"
        
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="inline-block w-full max-w-full flex gp_lazyload"
    data-src="{{ "480432459918345013-2a2b4573-032b-4ee3-a4e5-25b6f56d3523.png" | asset_url }}" data-srcset="{{ '480432459918345013-2a2b4573-032b-4ee3-a4e5-25b6f56d3523.png' | asset_img_url: '768x768' }} 768w, {{ '480432459918345013-2a2b4573-032b-4ee3-a4e5-25b6f56d3523.png' | asset_img_url: '1024x1024' }} 1024w, {{ '480432459918345013-2a2b4573-032b-4ee3-a4e5-25b6f56d3523.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="238" height="246" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:238/246;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </div>
    </figure>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gebzLAWsBE relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gXg5JcrwX2 ">
      
    <div
      parentTag="Col"
        class="gXg5JcrwX2  overflow-clip"
        style="--tt:default;--ta:left"
      >
      <div class="flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] text-g-text-2 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--c:#242424;--fs:normal;--ff:var(--g-font-Alegreya-Sans, Alegreya Sans);--weight:700;--ls:normal;--lh:130%;--size:19px;--size-tablet:19px;--size-mobile:17px;word-break:break-word"
        >
        <p>Mild voor de huid</p>
        </h2>
      </div>
    </div>
      </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gx9-j9aHjH"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-xl);--cg:var(--g-s-xl);--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gx9-j9aHjH mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g9rqxkoGPT relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image g1N32N-Vgx"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle pointer-events-none"
      style="--w:30px;--w-tablet:30px;--w-mobile:30px;border-radius:inherit"
    >
      <div
        class="pointer-events-auto"
        
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="inline-block w-full max-w-full flex gp_lazyload"
    data-src="{{ "480432459918345013-2a2b4573-032b-4ee3-a4e5-25b6f56d3523.png" | asset_url }}" data-srcset="{{ '480432459918345013-2a2b4573-032b-4ee3-a4e5-25b6f56d3523.png' | asset_img_url: '768x768' }} 768w, {{ '480432459918345013-2a2b4573-032b-4ee3-a4e5-25b6f56d3523.png' | asset_img_url: '1024x1024' }} 1024w, {{ '480432459918345013-2a2b4573-032b-4ee3-a4e5-25b6f56d3523.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="238" height="246" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:238/246;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </div>
    </figure>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gejFBE36dh relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gGIa5b4L0H ">
      
    <div
      parentTag="Col"
        class="gGIa5b4L0H  overflow-clip"
        style="--tt:default;--ta:left"
      >
      <div class="flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] text-g-text-2 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--c:#242424;--fs:normal;--ff:var(--g-font-Alegreya-Sans, Alegreya Sans);--weight:700;--ls:normal;--lh:130%;--size:19px;--size-tablet:19px;--size-mobile:17px;word-break:break-word"
        >
        <p>Diepe en lange geurwerking</p>
        </h2>
      </div>
    </div>
      </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gm4HaDSuc_"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-xl);--cg:var(--g-s-xl);--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gm4HaDSuc_ mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g2lokKRfxa relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gZDBGUh1KY"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle pointer-events-none"
      style="--w:30px;--w-tablet:30px;--w-mobile:30px;border-radius:inherit"
    >
      <div
        class="pointer-events-auto"
        
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="inline-block w-full max-w-full flex gp_lazyload"
    data-src="{{ "480432459918345013-2a2b4573-032b-4ee3-a4e5-25b6f56d3523.png" | asset_url }}" data-srcset="{{ '480432459918345013-2a2b4573-032b-4ee3-a4e5-25b6f56d3523.png' | asset_img_url: '768x768' }} 768w, {{ '480432459918345013-2a2b4573-032b-4ee3-a4e5-25b6f56d3523.png' | asset_img_url: '1024x1024' }} 1024w, {{ '480432459918345013-2a2b4573-032b-4ee3-a4e5-25b6f56d3523.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="238" height="246" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:238/246;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </div>
    </figure>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gjnc58U_MU relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="g3HJ0Dx72F ">
      
    <div
      parentTag="Col"
        class="g3HJ0Dx72F  overflow-clip"
        style="--tt:default;--ta:left"
      >
      <div class="flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] text-g-text-2 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--c:#242424;--fs:normal;--ff:var(--g-font-Alegreya-Sans, Alegreya Sans);--weight:700;--ls:normal;--lh:130%;--size:19px;--size-tablet:19px;--size-mobile:17px;word-break:break-word"
        >
        <p>Veilig in gebruik</p>
        </h2>
      </div>
    </div>
      </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="guag9MhMcR"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb-mobile:var(--g-s-3xl);--cg:var(--g-s-xl);--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="guag9MhMcR mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gHGMtY295_ relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gM1Rvm5jo9"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle pointer-events-none"
      style="--w:30px;--w-tablet:30px;--w-mobile:30px;border-radius:inherit"
    >
      <div
        class="pointer-events-auto"
        
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="inline-block w-full max-w-full flex gp_lazyload"
    data-src="{{ "480432459918345013-2a2b4573-032b-4ee3-a4e5-25b6f56d3523.png" | asset_url }}" data-srcset="{{ '480432459918345013-2a2b4573-032b-4ee3-a4e5-25b6f56d3523.png' | asset_img_url: '768x768' }} 768w, {{ '480432459918345013-2a2b4573-032b-4ee3-a4e5-25b6f56d3523.png' | asset_img_url: '1024x1024' }} 1024w, {{ '480432459918345013-2a2b4573-032b-4ee3-a4e5-25b6f56d3523.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="238" height="246" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:238/246;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </div>
    </figure>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gnEeKhHClh relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gQwaYuglr- ">
      
    <div
      parentTag="Col"
        class="gQwaYuglr-  overflow-clip"
        style="--tt:default;--ta:left"
      >
      <div class="flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] text-g-text-2 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--c:#242424;--fs:normal;--ff:var(--g-font-Alegreya-Sans, Alegreya Sans);--weight:700;--ls:normal;--lh:130%;--size:19px;--size-tablet:19px;--size-mobile:17px;word-break:break-word"
        >
        <p>Geen wasverzachter meer nodig</p>
        </h2>
      </div>
    </div>
      </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="giopzkwM8-"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pl:15px;--pr:15px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="giopzkwM8- mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gkY8eiO5Yt relative flex flex-col"
    >
      
    
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-xs);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
        
    <div 
            class="flex flex-wrap"
            style="--cg:var(--g-s-xs);--jc:center">
            <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gFmF1w1qor ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
    
    role="presentation"
    class="group/image gt1zInnVsL"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle pointer-events-none"
      style="--w:14px;--w-tablet:14px;--w-mobile:14px;border-radius:inherit"
    >
      <div
        class="pointer-events-auto"
        
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="inline-block w-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/0dc14637-d79d-469a-85f9-9ac33ab3a3c7/-/format/auto/" data-srcset="https://ucarecdn.com/0dc14637-d79d-469a-85f9-9ac33ab3a3c7/-/format/auto/ 768w,https://ucarecdn.com/0dc14637-d79d-469a-85f9-9ac33ab3a3c7/-/format/auto/ 1024w,https://ucarecdn.com/0dc14637-d79d-469a-85f9-9ac33ab3a3c7/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="22" height="21" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:22/21;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </div>
    </figure>
  </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gdImlsY39K ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
    
    role="presentation"
    class="group/image gXEjlGdp59"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle pointer-events-none"
      style="--w:14px;--w-tablet:14px;--w-mobile:14px;border-radius:inherit"
    >
      <div
        class="pointer-events-auto"
        
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="inline-block w-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/0dc14637-d79d-469a-85f9-9ac33ab3a3c7/-/format/auto/" data-srcset="https://ucarecdn.com/0dc14637-d79d-469a-85f9-9ac33ab3a3c7/-/format/auto/ 768w,https://ucarecdn.com/0dc14637-d79d-469a-85f9-9ac33ab3a3c7/-/format/auto/ 1024w,https://ucarecdn.com/0dc14637-d79d-469a-85f9-9ac33ab3a3c7/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="22" height="21" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:22/21;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </div>
    </figure>
  </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="guWTYqBaoe ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
    
    role="presentation"
    class="group/image gWgbckXn5L"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle pointer-events-none"
      style="--w:14px;--w-tablet:14px;--w-mobile:14px;border-radius:inherit"
    >
      <div
        class="pointer-events-auto"
        
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="inline-block w-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/0dc14637-d79d-469a-85f9-9ac33ab3a3c7/-/format/auto/" data-srcset="https://ucarecdn.com/0dc14637-d79d-469a-85f9-9ac33ab3a3c7/-/format/auto/ 768w,https://ucarecdn.com/0dc14637-d79d-469a-85f9-9ac33ab3a3c7/-/format/auto/ 1024w,https://ucarecdn.com/0dc14637-d79d-469a-85f9-9ac33ab3a3c7/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="22" height="21" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:22/21;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </div>
    </figure>
  </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gxDnWQhVgs ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
    
    role="presentation"
    class="group/image gxCpVZWBbI"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle pointer-events-none"
      style="--w:14px;--w-tablet:14px;--w-mobile:14px;border-radius:inherit"
    >
      <div
        class="pointer-events-auto"
        
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="inline-block w-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/0dc14637-d79d-469a-85f9-9ac33ab3a3c7/-/format/auto/" data-srcset="https://ucarecdn.com/0dc14637-d79d-469a-85f9-9ac33ab3a3c7/-/format/auto/ 768w,https://ucarecdn.com/0dc14637-d79d-469a-85f9-9ac33ab3a3c7/-/format/auto/ 1024w,https://ucarecdn.com/0dc14637-d79d-469a-85f9-9ac33ab3a3c7/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="22" height="21" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:22/21;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </div>
    </figure>
  </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gMjeo5bB_5 ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
    
    role="presentation"
    class="group/image g_GZ4Wn1VT"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle pointer-events-none"
      style="--w:14px;--w-tablet:14px;--w-mobile:14px;border-radius:inherit"
    >
      <div
        class="pointer-events-auto"
        
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="inline-block w-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/0dc14637-d79d-469a-85f9-9ac33ab3a3c7/-/format/auto/" data-srcset="https://ucarecdn.com/0dc14637-d79d-469a-85f9-9ac33ab3a3c7/-/format/auto/ 768w,https://ucarecdn.com/0dc14637-d79d-469a-85f9-9ac33ab3a3c7/-/format/auto/ 1024w,https://ucarecdn.com/0dc14637-d79d-469a-85f9-9ac33ab3a3c7/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="22" height="21" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:22/21;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </div>
    </figure>
  </div>
    </div>
  
      </div>
         </div>
    </div>
  
    <div
      parentTag="Col"
        class="gbhgMy8VtE  overflow-clip"
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#74846F;--fs:normal;--ff:var(--g-font-Nunito, Nunito);--weight:400;--ls:normal;--lh:150%;--size:12px;--size-tablet:12px;--size-mobile:11px;word-break:break-word"
        >
        <p>10.000+ mensen gingen je voor!</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-carousel.js" defer="defer"></script>
    <gp-carousel  id="gp-root-carousel-grhjdYqVHx-{{section.id}}" class=" "  gp-data='{"id":"grhjdYqVHx-{{section.id}}","setting":{"arrow":{"desktop":true},"arrowCustom":"<svg height=\"100%\" width=\"100%\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" fill=\"currentColor\"><path d=\"M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z\"></path></svg>","autoplay":true,"autoplayTimeout":2,"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"childItem":["Slide 1","Slide 2","Slide 3","Slide 4","Slide 5","Slide 6","Slide 7","Slide 8"],"controlOverContent":{"desktop":true},"dot":{"desktop":true,"mobile":true,"tablet":true},"dotActiveColor":{"desktop":"#AF9770"},"dotColor":{"desktop":"#fcf5ee"},"enableDrag":true,"loop":{"desktop":true},"pauseOnHover":true,"slidesToShow":{"desktop":5,"mobile":1,"tablet":2},"vertical":{"desktop":false}},"styles":{"adaptiveHeight":{"desktop":true},"fullWidth":{"desktop":false,"mobile":false,"tablet":false},"height":{"desktop":"300px"},"spacing":{"desktop":16}}}' style="">
      <div class="hidden aspect-square w-[12px] rounded-full shadow-md"></div>
      <div
        
        class="relative mx-auto my-0 tablet:px-0 max-w-full mobile:px-0 gp-carousel-wrapper mobile:block tablet:block block grhjdYqVHx"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--h:auto;--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);visibility:hidden;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      >
        <div
          class="h-full"
        >
          <div id="gp-carousel-grhjdYqVHx-{{section.id}}" class="gem-slider h-full overflow-hidden">
            
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      parentTag="Carousel"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      class="gem-slider-item w-full gem-slider-item- go7jOELUa-"
    >
      <div
    
    role="presentation"
    class="group/image gI3j0rqX7O"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ta:center"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle pointer-events-none"
      style="--shadow:none;border-radius:inherit"
    >
      <div
        class="pointer-events-auto"
        
      >
        <img
    quality="70" title
    draggable="false"
    class="inline-block w-full max-w-full flex gp_lazyload"
    data-src="{{ "480432459918345013-70d8a070-83a7-4187-8842-7a4a3de4c703.png" | asset_url }}" data-srcset="{{ '480432459918345013-70d8a070-83a7-4187-8842-7a4a3de4c703.png' | asset_img_url: '768x768' }} 768w, {{ '480432459918345013-70d8a070-83a7-4187-8842-7a4a3de4c703.png' | asset_img_url: '1024x1024' }} 1024w, {{ '480432459918345013-70d8a070-83a7-4187-8842-7a4a3de4c703.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="1875" height="2500" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:1875/2500;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </div>
    </figure>
  </div>
    </div>
  
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      parentTag="Carousel"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      class="gem-slider-item w-full gem-slider-item- g1erbrW5m_"
    >
      <div
    
    role="presentation"
    class="group/image gzCBpo3lc9"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ta:center"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle pointer-events-none"
      style="--shadow:none;border-radius:inherit"
    >
      <div
        class="pointer-events-auto"
        
      >
        <img
    quality="70" title
    draggable="false"
    class="inline-block w-full max-w-full flex gp_lazyload"
    data-src="{{ "480432459918345013-500ee473-b337-432b-8636-2bff42ba00ed.png" | asset_url }}" data-srcset="{{ '480432459918345013-500ee473-b337-432b-8636-2bff42ba00ed.png' | asset_img_url: '768x768' }} 768w, {{ '480432459918345013-500ee473-b337-432b-8636-2bff42ba00ed.png' | asset_img_url: '1024x1024' }} 1024w, {{ '480432459918345013-500ee473-b337-432b-8636-2bff42ba00ed.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="1875" height="2500" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:1875/2500;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </div>
    </figure>
  </div>
    </div>
  
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      parentTag="Carousel"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      class="gem-slider-item w-full gem-slider-item- gNS80GjUoY"
    >
      <div
    
    role="presentation"
    class="group/image gSl7Vg-Sx9"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ta:center"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle pointer-events-none"
      style="--shadow:none;border-radius:inherit"
    >
      <div
        class="pointer-events-auto"
        
      >
        <img
    quality="70" title
    draggable="false"
    class="inline-block w-full max-w-full flex gp_lazyload"
    data-src="{{ "480432459918345013-295d503e-f0b9-491d-98ad-5d7f21d9ea7f.png" | asset_url }}" data-srcset="{{ '480432459918345013-295d503e-f0b9-491d-98ad-5d7f21d9ea7f.png' | asset_img_url: '768x768' }} 768w, {{ '480432459918345013-295d503e-f0b9-491d-98ad-5d7f21d9ea7f.png' | asset_img_url: '1024x1024' }} 1024w, {{ '480432459918345013-295d503e-f0b9-491d-98ad-5d7f21d9ea7f.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="1875" height="2500" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:1875/2500;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </div>
    </figure>
  </div>
    </div>
  
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      parentTag="Carousel"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      class="gem-slider-item w-full gem-slider-item- goSASia4Ck"
    >
      <div
    
    role="presentation"
    class="group/image gszjy3EQAW"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ta:center"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle pointer-events-none"
      style="--shadow:none;border-radius:inherit"
    >
      <div
        class="pointer-events-auto"
        
      >
        <img
    quality="70" title
    draggable="false"
    class="inline-block w-full max-w-full flex gp_lazyload"
    data-src="{{ "480432459918345013-c4d72a64-6a43-48e0-accb-e673d598f93a.png" | asset_url }}" data-srcset="{{ '480432459918345013-c4d72a64-6a43-48e0-accb-e673d598f93a.png' | asset_img_url: '768x768' }} 768w, {{ '480432459918345013-c4d72a64-6a43-48e0-accb-e673d598f93a.png' | asset_img_url: '1024x1024' }} 1024w, {{ '480432459918345013-c4d72a64-6a43-48e0-accb-e673d598f93a.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="1875" height="2500" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:1875/2500;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </div>
    </figure>
  </div>
    </div>
  
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      parentTag="Carousel"
      style=""
      class="gem-slider-item w-full gem-slider-item- g3o4H9UzVn"
    >
      <div
    
    role="presentation"
    class="group/image go15rmEh_c"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ta:center"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle pointer-events-none"
      style="--shadow:none;border-radius:inherit"
    >
      <div
        class="pointer-events-auto"
        
      >
        <img
    quality="70" title
    draggable="false"
    class="inline-block w-full max-w-full flex gp_lazyload"
    data-src="{{ "480432459918345013-717c598f-a420-4c49-bdc3-11c967a00eb3.png" | asset_url }}" data-srcset="{{ '480432459918345013-717c598f-a420-4c49-bdc3-11c967a00eb3.png' | asset_img_url: '768x768' }} 768w, {{ '480432459918345013-717c598f-a420-4c49-bdc3-11c967a00eb3.png' | asset_img_url: '1024x1024' }} 1024w, {{ '480432459918345013-717c598f-a420-4c49-bdc3-11c967a00eb3.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="1875" height="2500" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:1875/2500;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </div>
    </figure>
  </div>
    </div>
  
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      parentTag="Carousel"
      style=""
      class="gem-slider-item w-full gem-slider-item- gkOOcX7UcW"
    >
      <div
    
    role="presentation"
    class="group/image g5tM3P17WA"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ta:center"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle pointer-events-none"
      style="--shadow:none;border-radius:inherit"
    >
      <div
        class="pointer-events-auto"
        
      >
        <img
    quality="70" title
    draggable="false"
    class="inline-block w-full max-w-full flex gp_lazyload"
    data-src="{{ "480432459918345013-f8a65b85-eda8-4463-a308-3c88399e518f.png" | asset_url }}" data-srcset="{{ '480432459918345013-f8a65b85-eda8-4463-a308-3c88399e518f.png' | asset_img_url: '768x768' }} 768w, {{ '480432459918345013-f8a65b85-eda8-4463-a308-3c88399e518f.png' | asset_img_url: '1024x1024' }} 1024w, {{ '480432459918345013-f8a65b85-eda8-4463-a308-3c88399e518f.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="1875" height="2500" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:1875/2500;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </div>
    </figure>
  </div>
    </div>
  
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      parentTag="Carousel"
      style=""
      class="gem-slider-item w-full gem-slider-item- gKTcx4Q6du"
    >
      <div
    
    role="presentation"
    class="group/image gnbxxSUwbS"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ta:center"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle pointer-events-none"
      style="--shadow:none;border-radius:inherit"
    >
      <div
        class="pointer-events-auto"
        
      >
        <img
    quality="70" title
    draggable="false"
    class="inline-block w-full max-w-full flex gp_lazyload"
    data-src="{{ "480432459918345013-3873112c-4496-46b2-a648-cb1158550be1.png" | asset_url }}" data-srcset="{{ '480432459918345013-3873112c-4496-46b2-a648-cb1158550be1.png' | asset_img_url: '768x768' }} 768w, {{ '480432459918345013-3873112c-4496-46b2-a648-cb1158550be1.png' | asset_img_url: '1024x1024' }} 1024w, {{ '480432459918345013-3873112c-4496-46b2-a648-cb1158550be1.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="1875" height="2500" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:1875/2500;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </div>
    </figure>
  </div>
    </div>
  
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      parentTag="Carousel"
      style=""
      class="gem-slider-item w-full gem-slider-item- gptyZhQJnw"
    >
      <div
    
    role="presentation"
    class="group/image gQu1deVdyJ"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ta:center"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle pointer-events-none"
      style="--shadow:none;border-radius:inherit"
    >
      <div
        class="pointer-events-auto"
        
      >
        <img
    quality="70" title
    draggable="false"
    class="inline-block w-full max-w-full flex"
    data-src="{{ "480432459918345013-eacad6b2-4052-4f0c-b029-ac1aa5e78e97.png" | asset_url }}" data-srcset="{{ '480432459918345013-eacad6b2-4052-4f0c-b029-ac1aa5e78e97.png' | asset_img_url: '768x768' }} 768w, {{ '480432459918345013-eacad6b2-4052-4f0c-b029-ac1aa5e78e97.png' | asset_img_url: '1024x1024' }} 1024w, {{ '480432459918345013-eacad6b2-4052-4f0c-b029-ac1aa5e78e97.png' | asset_img_url: 'master' }} 1440w" src="{{ "480432459918345013-eacad6b2-4052-4f0c-b029-ac1aa5e78e97.png" | asset_url }}" width="1875" height="2500" alt="Alt image" priority="true"
    sizes="100vw"
    style="--aspect:1875/2500;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </div>
    </figure>
  </div>
    </div>
  
          </div>
        </div>
        
    <button
      class="gp-carousel-action-back grhjdYqVHx-{{section.id}} gp-carousel-arrow absolute h-6 w-6 cursor-pointer text-gray-500 disabled:cursor-default disabled:text-gray-300 data-[hidden=true]:!hidden tablet:!inline mobile:!inline left-4 tablet:left-4 tablet:translate-x-0 tablet:pl-1 mobile:left-4 mobile:translate-x-0 mobile:pl-1 rotate-180 tablet:rotate-180 mobile:rotate-180 top-1/2 -translate-y-1/2 tablet:top-1/2 tablet:-translate-y-1/2 mobile:top-1/2 mobile:-translate-y-1/2"
      
    >
      <span class="inline-flex h-6 w-6 items-center justify-center">
    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"></path></svg>
    </span>
    </button>
  

        
    <button
      class="gp-carousel-action-next grhjdYqVHx-{{section.id}} gp-carousel-arrow absolute h-6 w-6 cursor-pointer text-gray-500 disabled:cursor-default disabled:text-gray-300 data-[hidden=true]:!hidden tablet:!inline mobile:!inline right-4 tablet:right-4 tablet:translate-x-0 tablet:pl-1 mobile:right-4 mobile:translate-x-0 mobile:pl-1 rotate-0 tablet:rotate-0 mobile:rotate-0 bottom-1/2 translate-y-1/2 tablet:bottom-1/2 tablet:translate-y-1/2 mobile:bottom-1/2 mobile:translate-y-1/2"
      
    >
      <span class="inline-flex h-6 w-6 items-center justify-center">
    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"></path></svg>
    </span>
    </button>
  
        
        <div
    class="items-center justify-center gap-2 text-center gp-carousel-dot-container gp-carousel-dot-container-grhjdYqVHx-{{section.id}} flex flex-row w-full mt-2 tablet:!flex tablet:flex-row tablet:w-full tablet:mt-2 mobile:!flex mobile:flex-row mobile:w-full mobile:mt-2" ></div>
      </div>
    </gp-carousel>
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:var(--g-s-2xl);--mb:var(--g-s-s);--mt-mobile:var(--g-s-3xl);--mb-mobile:var(--g-s-s);--ta:center"
    class=""
  >
    <style>
    .gcmXX1W0ZK.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: transparent;
  
      
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      
    }

    .gcmXX1W0ZK:hover::before {
      
      
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      
    }
  </style>
    <a
      href="#gQ1XhGPNhr" target="_self" data-id="gcmXX1W0ZK" aria-label="Probeer nu en krijg 20% korting!"
      data-state="idle"
      class="gcmXX1W0ZK gp-button-base rounded-none max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none text-g-text-3"
      style="--hvr-bg:#000000;--bg:#AF9770;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--hvr-bblr:10px;--hvr-bbrr:10px;--hvr-btlr:10px;--hvr-btrr:10px;--c:var(--g-c-text-3, text-3);--pl:53px;--pr:53px;--pt:14px;--pb:14px;--pl-tablet:53px;--pr-tablet:53px;--pt-tablet:14px;--pb-tablet:14px;--pl-mobile:53px;--pr-mobile:53px;--pt-mobile:14px;--pb-mobile:14px;--w:Auto;--w-tablet:Auto;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--tt:default;--fs:normal;--ff:var(--g-font-Alegreya-Sans, Alegreya Sans);--weight:800;--ls:normal;--lh:150%;--size:21px;--size-tablet:21px;--size-mobile:21px"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    <span
        class="inline-flex shrink-0 items-center justify-center group-data-[state=loading]:invisible z-9"
        style="--mr:8px;--w:1em"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M16 32a16 16 0 0 0 0 32h35.52l12.832 51.424 47.936 255.52A16 16 0 0 0 128 384h32a64 64 0 1 0 0 128 64 64 0 0 0 0 -128h224a64 64 0 1 0 0 128 64 64 0 0 0 0 -128h32a16 16 0 0 0 15.712 -13.056l48 -256A16 16 0 0 0 464 96H92.48l-12.96 -51.872A16 16 0 0 0 64 32H16zM192 448a32 32 0 1 1 -64 0 32 32 0 0 1 64 0zm224 0a32 32 0 1 1 -64 0 32 32 0 0 1 64 0zm-52.672 -244.672 -96 96a16 16 0 0 1 -22.656 0l-48 -48a16 16 0 1 1 22.656 -22.656L256 265.376l84.672 -84.704a16 16 0 0 1 22.656 22.656z" /></svg></span>
      <span
        class="truncate group-data-[state=loading]:invisible [&_p]:truncate z-9 "
        style="--tt:default"
      >
        Probeer nu en krijg 20% korting!
      </span>
    </a>
  </div>
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-483620279940088858 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://builder.gempages.net/instant/hyperlink/edit?type=section&section_id=483620279940088858&template_id=483620279721919514)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
